<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <servers>
    <server>
      <id>nexus</id>
      <username>backend</username>
      <password>devel0pr</password>
    </server>
    <server>
        <id>nexus-snapshot</id>
        <username>backend</username>
        <password>devel0pr</password>
    </server>
    <server>
        <id>nexus-releases</id>
        <username>backend</username>
        <password>devel0pr</password>
    </server>        
  </servers>
  <mirrors>
    <mirror>
      <id>nexus</id>
      <name>nexus</name>
      <url>http://172.29.32.15:8081/repository/maven-public/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
      <profile>
        <id>nexus</id>
        <repositories>
            <repository>
              <id>public</id>
              <url>http://172.29.32.15:8081/repository/maven-public/</url>
            </repository>
        </repositories>
        <pluginRepositories>
        <pluginRepository>
            <id>public</id>
            <url>http://172.29.32.15:8081/repository/maven-public/</url>
        </pluginRepository>
        </pluginRepositories>
      </profile>    
  </profiles>
</settings>









